<header>
    <div class="container">
        <div class="header-content">
            <a href="#" class="logo">കേരള<span>Heritage</span></a>
            <nav>
                <ul>
                    <li><a href="#" class="active" data-tab="home">HOME</a></li>
                    <li><a href="#" data-tab="explorer">EXPLORER</a></li>
                    <li><a href="#" data-tab="merchant">MARKETPLACE</a></li>
                    <li><a href="#" data-tab="weather">WEATHER</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>