<div class="tab-content" id="weather-tab">
    <div class="section-title">
        <h2>WEATHER FORECAST</h2>
        <p>SUITABLE WEATHER FOR KERALA TRIP</p>
    </div>
    
    <div class="weather-widget">
        <div class="weather-header">
            <h3>CURRENT WEATHER</h3>
            <div class="weather-search">
                <input type="text" id="city-input" placeholder="ENTER NAME OF CITY">
                <button class="btn" id="search-weather">SEARCH</button>
            </div>
        </div>
        
        <div id="current-weather-container">
            <div class="loading">ENTER CITY NAME FOR WEATHER FORECAST</div>
        </div>
    </div>
    
    <div class="weather-widget">
        <div class="weather-header">
            <h3>5-DAILY FORECAST</h3>
        </div>
        
        <div id="forecast-container">
            <div class="loading">ENTER CITY NAME TO SEE WEATHER FORECAST</div>
        </div>
    </div>
</div>